#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
}


.background-image {
    background-image: url('public/background-village-entrance.jpg');
    opacity: 0.8;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    z-index: 0;
}

.main-content form {
    display: flex;
    flex-direction: column;
}

.title {
    color: brown;
    margin: 0 0 1em;
}

.card {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.card button {
    margin: 3em;
}